@charset "UTF-8";

/*todas as demais midias*/
/*tipical device brakepoints
pequenas telas: ate 600px
celular:de 600px ate 768px
tablet:de 768px ate 992px
desktop:de 992px ate 1.200px
grandes telas: acima d 1.200px
*/

@media screen and (min-width: 768px) {
    i#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li > {
        display: inline-block;
    }

    main {
        width: 768px;
    }
}